# Python
venv/
__pycache__/
*.py[cod]
*.log

# Environment variables
.env
.env.*
!.env.example
!.env.prod.example

# Django
db.sqlite3
temp_db.sqlite3
temp_sqlite_settings.py
media/

# Node.js / Next.js
node_modules/
.next/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/